src/main/resources/ui/inputs/TextInputSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:include schemaLocation="../CommonSchema.xsd"/>
	
	<xs:element name="textInput" type="textInputType" />
    
	<xs:simpleType name="textInputStyleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="short"/>
            <xs:enumeration value="paragraph"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="textInputType">
    	<xs:sequence>
            <xs:element name="placeholder" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
    	</xs:sequence>
    	<xs:attribute name="id" type="xs:string" use="required"/>
    	<xs:attribute name="style" type="textInputStyleType" use="required"/>
    	<xs:attribute name="min" type="xs:integer" use="required" />
    	<xs:attribute name="max" type="xs:integer" use="required" />
    	<xs:attribute name="required" type="xs:boolean" use="required" />
    	<xs:attribute ref="if" use="optional"/>
    </xs:complexType>
</xs:schema>