src/main/resources/ui/CommonSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:attribute name="if" type="xs:string"/>
	<xs:attribute name="for" type="xs:string"/>

    <!-- ===== Simple Elements ===== -->
    <xs:element name="text">
	  <xs:complexType>
	    <xs:simpleContent>
	      <xs:extension base="xs:string">
	        <xs:attribute ref="if" use="optional"/>
	      </xs:extension>
	    </xs:simpleContent>
	  </xs:complexType>
	</xs:element>
    <xs:element name="h1" type="xs:string"/>
    <xs:element name="h2" type="xs:string"/>
    <xs:element name="h3" type="xs:string"/>
    <xs:element name="subtext" type="xs:string"/>
    <xs:element name="emoji" type="xs:string"/>
    <xs:element name="code" type="xs:string"/>
    <xs:element name="quote" type="xs:string"/>
    
   	<xs:simpleType name="paramsType">
    	<xs:list itemType="xs:string"/>
    </xs:simpleType>

</xs:schema>